%span.pull-right
  = link_to "Add new student" , new_student_path
%h4 Students List
%table{:class => ["table", "table-striped"]}
  %tr
    %th
      Name
    %th
      RollNo
    %th
      Class
  - @students.each do |s|
    %tr
      %td 
        =link_to "#{s.name}", s
      %td
        =link_to "#{s.roll_no}", s
      %td
        =link_to "#{s.level}", s
        