.row
  .span8.well{:style => 'min-height: 300px'}
    %h3 History
    %p The School has sixty three years of history behind it. It is a private and aided institution affiliated to Madurai Kamaraj University and managed by Kalaithanthai Karumuttu Thiagrajan Chettiar Memorial Trust. 
    %p Employability, along with academic excellence, is the focal point of the college. It has undergone an appreciable and noteworthy change in all fields with an objective to spread quality education, fostering excellence in research and promoting academic inquiry. It has been recognized as a Research Centre of Excellence since 1978 and was upgraded as an autonomous institution in 1987. It was first accredited with Five Stars by National Assessment and Accreditation Council in 2001 and was Re-accredited with 'A' Grade in 2007.
  .span3.well{:style => 'min-height: 300px'}
    .sidebar-nav
      %ul{:class => ["nav","nav-list"]}
        %li
          %h5 Quick Links
        %li{:class => "active"}
          = link_to 'Time Table', '#'
        %li
          = link_to 'Students', '#'
        %li
          = link_to 'Results', '#'
