%h4 All albums in your collection
%table{:class => ["table", "table-striped"]}

  - @albums.each do |album|
    %tr
      %td{:width => "80px"}
        =link_to album, :class => 'small_cover'do
          =image_tag album.cover.url(:small), :class => 'small'
      %td 
        =link_to "#{album.name}", album
      %td
        %p.detail
          %span{:class => ["label"]} Genre
          =album.genre.try(:downcase)
        %p.tiny-details
          %i= "Added on #{album.created_at.to_date}"
