
body {
  background: url('ocean_of_love.jpg') no-repeat;
}

.homeheader{
  margin-top: 50px;
  color: #e5780d;
  h1 { 
    font-family: 'Ruge Boogie'; 
    font-weight: normal; 
    font-style: italic;
  }
}